.intro-heading {
  color: goldenrod;
}

header {
  height: 50vh;
  background-position: top;
}

.team-member > h4, .team-member > p {
  display: none;
}

.social-buttons {
  margin-top: 1em;
}

.section-subheading {
  display: none;
}

.facebook-feed {
  padding-top: 100px;
}

#subscribe {
  position: absolute;
  bottom: calc(50vh + 2em);
}
