.intro-heading {
  color: goldenrod;
}

header {
  height: 300px;
  background-position: top;
  margin-bottom: 2em;
}

.team-member {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.team-member img {
  width: 200px;
  height: 200px;
}

.team-member .description {
  vertical-align: middle;
  min-height: 200px;
  width: calc(100% - 200px - 4em);
}

@media screen and (max-width: 600px) {
  .team-member .description {
    width: calc(100vw - 4em);
  }
}

.social-buttons {
  margin-top: 1em;
}

.section-subheading {
  display: none;
}

#subscribe {
  float: right;
  width: 16em;
  height: 43px;
  padding-top: 10px;
}

#works ul {
  list-style: none;
}

#works li {
  max-width: 200px;
  padding-left: 20px;
}

/* Center nav button icons inside black circles. */
.nav .fab {
  position: relative;
  left: -0.22em;
  top: -0.9em;
}

#news {
  float: left;
  width: min(500px, 100%);
  padding-left: 2em;
  margin-left: max(1em, calc(50% - 500px));
}

#contact {
  float: right;
  width: min(400px, 100%);
  padding-right: 2em;
  margin-bottom: 1.5em;
  margin-right: calc(50% - 500px);
}

#bio {
  padding-top: 5em;
  padding-bottom: 0;
  clear: both;
}

footer {
  padding: 0 0 25px 0;
}

@media screen and (max-width: 1047px) {
  #news {
    float: none;
    margin-left: max(1em, calc(50% - 250px - 2em));
  }
  #contact {
    float: none;
    margin-left: max(1em, calc(50% - 200px));
  }
  #contact .embedForm {
    min-width: min(500px, calc(100% - 2em));
  }
}

.label-description {
  padding-left: 0.5em;
}

@media screen and (max-width: 570px) {
  #news {
    margin: 0;
    padding: 0;
  }
  #news iframe {
    transform: scale(0.95);
    margin-left: calc(50vw - 255px);
    margin-top: -20px;
    margin-bottom: -20px;
  }
}
@media screen and (max-width: 500px) {
  #news iframe {
    transform: scale(0.8);
    margin-top: -70px;
    margin-bottom: -70px;
  }
}
@media screen and (max-width: 450px) {
  #news iframe {
    transform: scale(0.72);
    margin-top: -100px;
    margin-bottom: -100px;
  }
}
@media screen and (max-width: 400px) {
  #news iframe {
    transform: scale(0.64);
    margin-top: -130px;
    margin-bottom: -130px;
  }
}
@media screen and (max-width: 350px) {
  #news iframe {
    transform: scale(0.56);
    margin-top: -160px;
    margin-bottom: -160px;
  }
}
@media screen and (max-width: 300px) {
  #news iframe {
    transform: scale(0.48);
    margin-top: -190px;
    margin-bottom: -190px;
  }
}
