.intro-heading {
  color: goldenrod;
}

header {
  height: 100vh;
}

.team-member > h4, .team-member > p {
  display: none;
}

.social-buttons {
  margin-top: 1em;
}

.section-subheading {
  display: none;
}

#subscribe {
  margin-top: 1em;
}

#read-more {
  margin-top: 5em;
}
