<!-- Bio Section -->
    <section id="bio">
        <div class="container">
          <div class="team-member">
            <img src="img/athena.jpg" class="img-responsive img-circle" alt="">
            <div class="description">
              Athena Foster is an American author of speculative fiction. Born in Des Moines, Iowa, she went away to college at the University of Wisconsin&ndash;Madison and never escaped Madison (though she did escape the UW with a degree in English). Along the way she worked in 2-4 gaming stores, played an egregious number of table-top RPGs and LARPs, and spent five years on the convention committee for ICON (Iowa's Longest Running Science Fiction Convention).
            </div>
          </div>
        </div>
    </section>
