<!-- Bio Section -->
    <section id="bio">
        <div class="container">
          <div class="team-member">
            <img src="img/athena.jpg" class="img-responsive img-circle" alt="">
            <div class="description">
                Athena Foster lives in the woods of Wisconsin rooting up faerie rings, writing speculative fiction, and performing bureaucromancy during the week. She studied creative writing at the Universities of Iowa and Wisconsin, and at last report is defending her 19th century farmhouse against a colonizing horde of pernicious woodchucks.            </div>
          </div>
        </div>
    </section>
