<!-- Bio Section -->
    <section id="bio">
        <div class="container">
          <div class="team-member">
            <img src="img/athena.jpg" class="img-responsive img-circle" alt="">
            <div class="description">
                Athena Foster lives in the woods of Wisconsin dodging faerie rings, writing speculative fiction, and performing bureaucromancy during the weekday. She also works as a creative producer, creating folio editions and merchandise for authors. She studied creative writing at the Universities of Iowa and Wisconsin and regularly plays table-top and live action role-playing games. At last report, she is defending a 19th century farmhouse against a colonizing horde of pernicious woodchucks.            </div>
          </div>
        </div>
    </section>
