    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Subscribe to the Quarterly Newsletter</div>
                <input type="email" class="form-control" placeholder="Your Email *" id="newsletter-email" required="" data-validation-required-message="Please enter your email address." aria-invalid="false">
                <div id="subscribe"><a href="#" class="btn btn-xl">Subscribe</a></div>
                <div id="read-more"><a href="#news" class="page-scroll btn btn-xl">Read More</a></div>
            </div>
        </div>
    </header>

