<!-- News Section -->
    <div id="news">
        <div class="facebook-feed">
            <div style="margin-left: 120px" class="fb-page" data-href="https://www.facebook.com/AthenaFoster" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/AthenaFoster" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AthenaFoster">Athena Foster</a></blockquote></div>
        </div>
    </div>
