<!-- News Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="facebook-feed">
                    <div style="margin-left: 500px" class="fb-page" data-href="https://www.facebook.com/AthenaFoster" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/AthenaFoster" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AthenaFoster">Athena Foster</a></blockquote></div>
                </div>
            </div>
        </div>
    </section>
